<!-- One -->
<section id="one">
  <header class="major">
    <h2 class="disable-click">Bio</h2>
  </header>
  <p class="disable-click">
    Tim is a passionate
    <span class="waviy">
      <span style="--i:1">C</span>
      <span style="--i:2">o</span>
      <span style="--i:3">d</span>
      <span style="--i:4">e</span>
      <span style="--i:5">r</span>
    </span>
    , and he loves using his skills to turn ideas into real, useful things that make
    technology more user-friendly and enjoyable for everyone. <br />Tim
    graduated from the Swinburne University of Technology in Melbourne. He now
    lives in Geelong with his wife and has recently become a father for the
    first time. <i
      class="fas fa-baby-carriage fa-flip-horizontal"
      style="color: #46555f;"></i>
  </p>
  <span class="more-bio disable-click" style="display:none;">
    <p>
      Tim is always eager to learn and hardly ever says no to a project. His
      curiosity drives him to acquire new skills, which is great for his work.
      Besides being skilled in tech, he's also a great tradie <i
        class="fas fa-hammer"
        style="color: #46555f;"></i>. He's even renovating his house<i
        class="fas fa-home"
        style="color: #46555f;"></i>all by himself, a project that will keep him
      busy for a long time.
    </p>
    <p>
      Originally from Vietnam and now an Australian citizen. He dreams of one
      day travelling the world <i
        class="fas fa-plane-departure"
        style="color: #46555f;"></i> putting his curious mind to work discovering
      new things around every corner.
    </p>
  </span>
  <ul class="actions">
    <li>
      <a
        id="more-bio-btn"
        class="button"
        onclick="
        $('.more-bio').toggle('slow');

        $('.fa-chevron-down').toggleClass('fa-chevron-up');
        "
        ><i class="fas fa-chevron-down fa-lg" style="color: #46555f;"></i>
      </a>
    </li>
  </ul>
</section>
<!-- <script>
  $("#more-bio-btn").toggleText("before", "after");
  $('#more-bio-btn').html($(this).html() == 'after' ? 'before' : 'after');
</script> -->
