---
import avatar from "../assets/avatar.jpg";
---

<!-- Header -->
<header id="header">
  <div class="inner">
    <a href="." class="image avatar"
      ><img src={avatar} alt="Avatar Picture" /></a
    >
    <h1 class="disable-click">
      <strong>Hello,</strong> my name is Tim <br />
      <p>I'm a web developer</p>
      <span>I love creating beautiful user experiences.</span>
    </h1>
  </div>
</header>
