---
import full_1 from "../assets/fulls/JU Design Booking system- ClickUp - 3.jpg";
import full_2 from "../assets/fulls/JU Design Booking system- ClickUp.jpg";
import full_3 from "../assets/fulls/JU Design Booking system- ClickUp - 2.jpg";
---

<!-- Think Fencing -->
<section id="portfolio-1">
  <div>
    <h1>JU Design - Online Booking System</h1>
    <p>
      The system has been developed utilizing the WordPress PHP backend. All
      bookings will be stored within the WordPress SQL server and dynamically
      linked in real-time to the ClickUp API. The primary objective of the
      Booking System is to streamline administrative tasks while concurrently
      preserving the existing workflow.
    </p>
    <p class="one-row-flex">
      <span class="stack-span">
        <a href="#" class="button disable-click" style="margin-right: 20px;"
          >Project under development</a
        >
      </span>
      <span class="stack-span">
        <a class="stack"> PHP backend</a>
        <a class="stack"> JQuery</a>
        <a class="stack"> HTML</a>
        <a class="stack"> CSS</a>
      </span>
    </p>
  </div>
  <div>
    <a class="image fit"><img src={full_1} alt="Judesign screenshot" /></a>
    <a class="image fit"><img src={full_2} alt="Judesign screenshot" /></a>
    <a class="image fit"><img src={full_3} alt="Judesign screenshot" /></a>
  </div>
</section>
