---
import full_1 from "../assets/fulls/Kinder garten TT 1.jpg";
import full_2 from "../assets/fulls/Kinder garten TT 2.jpg";
---

<!-- Think Fencing -->
<section id="portfolio-1">
  <div>
    <h1>Thanh Tam Kindergarten - Student Management System</h1>
    <p>
      System designed to efficiently manage a large number of students at a
      school. It includes features such as recording student details, class
      association, invoice generation, and absence records. This system is
      aiming to streamline administrative processes and enhance overall
      management.
    </p>
    <p class="one-row-flex">
      <span class="stack-span">
        <a class="button disable-click" style="margin-right: 20px;"
          >Offline used - Vietnamese language</a
        >
      </span>
      <span class="stack-span">
        <a class="stack"> Visual Basic</a>
        <a class="stack"> MS Access</a>
      </span>
    </p>
  </div>
  <div>
    <a class="image fit"><img src={full_1} alt="Walkers screenshot" /></a>
    <a class="image fit"><img src={full_2} alt="Walkers screenshot" /></a>
  </div>
</section>
