---
import full_1 from "../assets/fulls/thinkfencing.jpg";
import full_2 from "../assets/fulls/Think Fencing PDF1.jpg";
import full_3 from "../assets/fulls/Think Fencing PDF2.jpg";
import full_4 from "../assets/fulls/Think fencing backend.jpg";
---

<!-- Think Fencing -->
<section id="portfolio-1">
  <div>
    <h1>Think Fencing - Online Fast Quote</h1>
    <p>
      This system is designed for the purpose of reducing the need for manual
      labor. Users can visually browse fence styles and receive quotes in just
      seconds. There is no need for a sales representative, as quotes will be
      automatically calculated from input data using a Google Sheets database
      formula.
    </p>
    <p class="one-row-flex">
      <span class="stack-span">
        <a
          href="https://thinkfencing.com.au/online-quote/"
          class="button"
          target="_blank"
          style="margin-right: 20px;">LIVE VIEW</a
        >
      </span>
      <span class="stack-span">
        <a class="stack"> Google Apps Script</a>
        <a class="stack"> JavaScript</a>
        <a class="stack"> HTML</a>
        <a class="stack"> CSS</a>
      </span>
    </p>
  </div>
  <div>
    <a class="image fit"><img src={full_1} alt="Think Fencing screenshot" /></a>
    <a class="image fit"><img src={full_2} alt="Think Fencing screenshot" /></a>
    <a class="image fit"><img src={full_3} alt="Think Fencing screenshot" /></a>
    <a class="image fit"><img src={full_4} alt="Think Fencing screenshot" /></a>
  </div>
</section>
