---
import full_1 from "../assets/fulls/Walkers Ordering system 1.jpg";
import full_2 from "../assets/fulls/Walkers Ordering system 2.jpg";
import full_3 from "../assets/fulls/Walkers Ordering system 3.jpg";
---

<!-- Think Fencing -->
<section id="portfolio-1">
  <div>
    <h1>Walkers - Online Ordering System</h1>
    <p>
      The system is intended to facilitate online order submissions for tradies.
      Product updates can be conveniently administered from the backend by the
      administrator. Immediate email notifications will be dispatched to the
      sales team for prompt order processing.
    </p>
    <p class="one-row-flex">
      <span class="stack-span">
        <a
          href="https://walkers.com.au/online-order/"
          class="button"
          target="_blank"
          style="margin-right: 20px;">LIVE VIEW</a
        >
      </span>
      <span class="stack-span">
        <a class="stack"> PHP backend</a>
        <a class="stack"> JavaScript</a>
        <a class="stack"> HTML</a>
        <a class="stack"> CSS</a>
      </span>
    </p>
  </div>
  <div>
    <a class="image fit"><img src={full_1} alt="Walkers screenshot" /></a>
    <a class="image fit"><img src={full_2} alt="Walkers screenshot" /></a>
    <a class="image fit"><img src={full_3} alt="Walkers screenshot" /></a>
  </div>
</section>
